---
layout: default
title: Home
---

	<div class="row">
		<div class="large-12 columns">
			<div class="featured">
				<div class="desc">
					Wir sind eine junge agile Web-Entwickler-Truppe, die im Nürnberger Coworking Space länger schon zusammen Projekte bearbeitet und nun als Webhippies gemeinsam auftritt. Mit unseren vielseitigen Fähigkeiten bieten wir euch an:
				</div>					
				<hr noshade/>					
				<div class="row">
					<div class="small-12 columns smallBullets">					
						<div class="small-6 columns">
							<ul>
								<li>
									Ruby on Rails, Sinatra, PHP, Symfony, mit Haml, Slim, Sass, Foundation, Bootstrap
								</li>
								<li>
									CMS Entwicklung: Joomla, Wordpress, Refinery, Typo3
								</li>
							</ul>
						</div>
						<div class="small-6 columns">
							<ul>
								<li>
									Wir sprechen gerne mit Social Media APIs und haben einen Grafiker im Team.
								</li>
								<li>
									Mobile? Eh klar, unsere Webseiten sind immer Mobile!
								</li>
							</ul>
						</div>
					</div>
				</div>
				<hr noshade/>
			</div>
		</div>
	</div>
	 
	<div class="row">
		<div class="large-12 columns boxHeightContainer">
			<ul class="small-block-grid-2 large-block-grid-3 members">

				<li class="memberBox">
					<div class="panel boxHeightColumn">
						<h2>FELIX BLUMENKIND</h2>
						<img src="{% asset_path felix.jpg %}" 
							 data-baseurl="{% asset_path felix.jpg %}" 
							 data-profileurl="{% asset_path felix_profile.jpg %}"/>
						<div>
							<h3>SÜSSES KÄTZCHEN</h3>
							{% include felix.html %}
						</div>
					</div>			
				</li>

				<li class="memberBox">
					<div class="panel boxHeightColumn">
						<h2>SEBASTIAN REGENBOGEN</h2>
						<img src="{% asset_path sebastian.jpg %}" 
							 data-baseurl="{% asset_path sebastian.jpg %}" 
							 data-profileurl="{% asset_path sebastian_profile.jpg %}"/>
						<div>
							<h3>FLAUSCHIGER SCHNURRER</h3>
							{% include sebastian.html %}
						</div>
					</div>			
				</li>

				<li class="memberBox">
					<div class="panel boxHeightColumn">
						<h2>THOMAS GLÜCKSBOTE</h2>
						<img src="{% asset_path thomas.jpg %}" 
							 data-baseurl="{% asset_path thomas.jpg %}" 
							 data-profileurl="{% asset_path thomas_profile.jpg %}"/>
						<div>
							<h3>PUTZIGE MIEZE</h3>
							{% include thomas.html %}
						</div>
					</div>			
				</li>

				<li class="memberBox">
					<div class="panel boxHeightColumn">
						<h2>FRANKA WOLKENFEE</h2>
						<img src="{% asset_path franka.jpg %}" 
							 data-baseurl="{% asset_path franka.jpg %}" 
							 data-profileurl="{% asset_path franka_profile.jpg %}"/>
						<div>	
							<h3>NIEDLICHE FELLNASE</h3>
							{% include franka.html %}
						</div>	
					</div>			
				</li>	

				<li class="memberBox">
					<div class="panel boxHeightColumn">
						<h2>DANYEL LIEBESBRINGER</h2>
						<img src="{% asset_path danyel.jpg %}" 
							 data-baseurl="{% asset_path danyel.jpg %}" 
							 data-profileurl="{% asset_path danyel_profile.jpg %}"/>
						<div>
							<h3>GOLDIGER STUBENTIGER</h3>
							{% include danyel.html %}
						</div>
					</div>			
				</li>	

				<li class="memberBox">
					<div class="panel boxHeightColumn">
						<h2>ARMIN SONNENSTRAHL</h2>
						<img src="{% asset_path armin.jpg %}" 
							 data-baseurl="{% asset_path armin.jpg %}" 
							 data-profileurl="{% asset_path armin_profile.jpg %}"/>
						<div>				
							<h3>KNUFFIGE SAMTPFOTE</h3>
							{% include armin.html %}
						</div>			
					</div>			
				</li>

			</ul>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="featured">
				<div class="descSmall">
					<p>Wir sind sehr aktiv in der Nürnberger Web-Szene mit der Ruby / Rails Usergroup, Joomla Usergroup, PHP Usergroup, Agile Monday und Softwerkskammer sowie im Orga Team der <a href="http://www.nueww.de/">Webweek Nünberg</a>. Zur Webweek seid ihr herzlich eingeladen!</p>
					<p>Wir arbeiten im Coworking Space mit engen Partnern und großem Spektrum an Know-How zusammen.</p>
				</div>
				<div class="row">
					<div class="small-12 columns smallBullets">					
						<div class="small-6 columns">
							<ul>
								<li>
									<a href="http://www.tec-promotion.de/" target="_blank">tec-promotion GmbH</a>
									</br>
									Tags: Joomla, Joomla Day Deutschland
								</li>
								<li>
									<a href="http://www.usercenteredstrategy.de" target="_blank">User Centered Strategy</a>
									</br>
									Tags: Facebook Marketing, Webweek
								</li>
							</ul>
						</div>
						<div class="small-6 columns">
							<ul>
								<li>
									<a href="http://www.wuenschedesign.de/" target="_blank">wünschedesign</a>
									</br>
									Tags: Hammer Design, Grafik
								</li>
								<li>
									<a href="http://adojo.de" target="_blank">Agentur für Suchmaschinenmarketing</a>
									</br>
									Tags: Adwords, Online Marketing
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


