---
layout: default
title: Home
---
	{% include under_construction.html %}

	<div class="row">
		<div class="large-12 columns">

			<div id="featured">
				<div class="description">
					Wir sind eine junge agile Web-Entwickler Truppe,<br/>
					die im Nürnberger Coworking Space länger schon zusammen Projekte bearbeitet<br/>
					und nun als Webhippies gemeinsam auftreten.
				</div>
			</div>
		</div>
	</div>
	 
	<div class="row" data-match-height>
		<div id="boxHeightContainer" class="large-12 columns">
			<ul class="small-block-grid-2 large-block-grid-3 members">

				<li data-height-watch class="memberBox">
					<div class="panel">
						<h2>FELIX BLUMENKIND</h2>
						<img src="{% asset_path felix.jpg %}"/>
						<div class="boxHeightColumn">
							<h3>SÜSSES KÄTZCHEN</h3>
							{% include felix.html %}
						</div>
					</div>			
				</li>

				<li data-height-watch class="memberBox">
					<div class="panel">
						<h2>SEBASTIAN REGENBOGEN</h2>
						<img src="{% asset_path sebastian.jpg %}"/>
						<div class="boxHeightColumn">
							<h3>FLAUSCHIGER SCHNURRER</h3>
							{% include sebastian.html %}
						</div>
					</div>			
				</li>

				<li data-height-watch class="memberBox">
					<div class="panel">
						<h2>THOMAS GLÜCKSBOTE</h2>
						<img src="{% asset_path thomas.jpg %}"/>
						<div class="boxHeightColumn">
							<h3>PUTZIGE MIEZE</h3>
							{% include thomas.html %}
						</div>
					</div>			
				</li>

				<li data-height-watch class="memberBox">
					<div class="panel">
						<h2>FRANKA WOLKENFEE</h2>
						<img src="{% asset_path franka.jpg %}"/>
						<div class="boxHeightColumn">	
							<h3>NIEDLICHE FELLNASE</h3>
							{% include franka.html %}
						</div>	
					</div>			
				</li>	

				<li data-height-watch class="memberBox">
					<div class="panel">
						<h2>DANYEL LIEBESBRINGER</h2>
						<img src="{% asset_path danyel.jpg %}"/>
						<div class="boxHeightColumn">
							<h3>GOLDIGER STUBENTIGER</h3>
							{% include danyel.html %}
						</div>
					</div>			
				</li>	

				<li data-height-watch class="memberBox">
					<div class="panel">
						<h2>ARMIN SONNENSTRAHL</h2>
						<img src="{% asset_path armin.jpg %}"/>
						<div class="boxHeightColumn">				
							<h3>KNUFFIGE SAMTPFOTE</h3>
							{% include armin.html %}
						</div>			
					</div>			
				</li>

			</ul>
		</div>
	</div>


