---
layout: postlist
title: postlist
---

<div class="row">
{% for post in site.posts %}
	<div class="small-12 small-centered large-9 large-centered columns postPanel">
		<div class="row">		
			<div class="small-10 columns postTitle">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</div>
			<div class="small-2 columns postDate">
				{{ post.date | date: "%d.%m.%Y" }}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns postExcerpt">
				{{ post.excerpt }}					
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns postInfo">
				Author: <span>{{ post.author }}</span>
			</div>
			<div class="small-9 columns postInfo">
				Tags: 
				{% for tag in post.tags %}
					<a href="#">{{ tag }}</a>
				{% endfor %}	
			</div>		
		</div>
	</div>
{% endfor %}
</div>

<div class="row">
{% for post in site.posts %}
	<div class="small-12 small-uncentered large-9 large-centered columns postPanel">
		<div class="row smallBar">		
			<div class="small-1 columns">
				<div class="postAvatar">
					<img src="{% asset_path the_hip_one.png %}"/>
				</div>
			</div>
			<div class="small-8 columns">
				<div class="postTitle">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</div>
			</div>
			<div class="small-3 columns">
				<div class="postDate">
					{{ post.date | date: "%d.%m.%Y" }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<div class="blogContent">
					{{ post.excerpt }}
				</div>			
			</div>
		</div>
		<div class="row smallBar">
			<div class="small-3 columns">
				<div class="postInfo">
					Author: <span>{{ post.author }}</span>
				</div>
			</div>
			<div class="small-9 columns">
				<div class="postInfo">
					Tags:
					{% for tag in post.tags %}
						<a href="/tag/{{ tag }}">{{ tag }}</a>
					{% endfor %}
				</div>	
			</div>		
		</div>	
	</div>
{% endfor %}
</div>
