---
layout: default
title: Home
link: home
---

  <div class="row team">
    <div class="small-12 columns">
      <h1>Team</h1>
    </div>
  </div>

  <div class="row spaceTop">
    <div class="large-12 columns boxHeightContainer">
      <ul class="small-block-grid-2 large-block-grid-3 members">
        

        {% include felix.html %}

        {% include erik.html  %}

        {% include jonas.html %}

        {% include sebastian.html %}

        {% include thomas.html %}

        {% include franka.html %}

        {% include danyel.html %}

        {% include armin.html %}

        {% include michael.html %}

      </ul>
    </div>
  </div>