<div class="container">
  <div class="row">
    <div class="col-lg-12 title text-center">
      Lass uns Kaffee trinken! 
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 text-center left">
      <p>
        <a href="mailto:mail@webhippie.de">
          mail@webhippie.de
        </a>
      </p>
      <p>
        Coworking Space<br/>
        Josephsplatz 8<br/>
        90403 Nürnberg
      </p>
    </div>

    <div class="col-md-6 col-sm-12 text-center right">
      <i class="fa fa-coffee demonstrative"></i>
    </div>
  </div>
</div>
