        {% capture name %}
          Danyel Bayraktar
        {% endcapture %}

        {% capture role %}
          Backend Entwicklung
        {% endcapture %}

        {% capture description %}
          Von Java zur Webentwicklung: Hoch motiviert sollen die gesammelten Erfahrungen aus dem Informatik-Studium 
          nun in supercoolen Web-Apps umgesetzt werden. Das Beste vom Besten: Ruby (Rails, Sinatra), Scala / Java (u.a. Play), 
          Joomla, Python, C, Bash Scripting und, und, und.
        {% endcapture %}

        {% include _member.html role=role name=name base_image="danyel.jpg" profile_image="danyel_profile.jpg" description=description %}