<p>
  Teamarbeit und Firmenprozesse einfacher gestalten mit Rails. Herausforderungen lösen mit Community und <a href="http://www.cwnue.de/" target="_blank">Coworking</a>. 
  Workshops am besten aus dem Stehgreif am <a href="http://www.bcnue.de/" target="_blank">Barcamp</a>. 
  Meine lieblings Usergroups: 
  <a href="http://www.coworking-nuernberg.de/veranstaltungen/usergroups/236-rails-ugn" target="_blank">Ruby UGN</a>, 
  <a href="http://www.coworking-nuernberg.de/veranstaltungen/usergroups/229-agile-monday" target="_blank">Agile Monday</a>,
  <a href="http://www.coworking-nuernberg.de/veranstaltungen/usergroups/233-joomla-user-group" target="_blank">Joomla UGN</a>
</p>