<p>
Schon immer hat mich der Aufbau und die Struktur von Websites fasziniert. Welcher Button muss wo hin, damit die Call to Action beim User ankommt? Wie gibt eine Navigationsstruktur Halt und lässt die Website-Besucher den Inhalt finden, den sie suchen? Welche Farben, Fotos, Texte, welcher Aufbau auf welchem Device bewirkt die beste Conversion? – Und natürlich wird auch alles umgesetzt – Latest and Greatest: HTML5, CSS3, HAML, SLIM, SASS, FOUNDATION, BOOTSTRAP, RAILS, REFINERY CMS – was ich mir da so an Informationsarchitektur und Design ausdenke.
</p>
