        {% capture name %}
          Franka Wittek
        {% endcapture %}

        {% capture role %}
          Frontend Entwicklung
        {% endcapture %}

        {% capture description %}
          UI und UX-Design, Am liebsten Konzeption und Informationsarchitektur. 
          Natürlich aber auch Web-Frontend – Latest and Greatest: HTML5, CSS3, HAML, SLIM, SASS, FOUNDATION, BOOTSTRAP, RAILS, REFINERY CMS.
        {% endcapture %}

        {% include _member.html role=role name=name base_image="franka.jpg" profile_image="franka_profile.jpg" description=description %}

