<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>.Webhippie United.</title>

	{% stylesheet app %}
</head>
<body>
	<div class="headerBar">
		<div class="row">
			<div class="small-9 columns">
				<h1 id="titleText">.WEBHIPPIE UNITED.</h1>
			</div>
		</div>
		<div class="row">
			<div class="small-9 columns">
				<!--h3 id="subtitleText">FREE<span>|</span>INDYPENDENT<span>|</span>INNOVATIV<span>|</span>SUPERCOOL</h3-->
				<h3 id="subtitleText">FREE&emsp;|&emsp;INDYPENDENT&emsp;|&emsp;INNOVATIV&emsp;|&emsp;SUPERCOOL</h3>
			</div>
		</div>
		<a class="hide-for-small whBlogButton right">BLOG</a>
	</div>

	<div class="whSmallBlogButton show-for-small">
		<a href="#">BLOG</a>
	</div>
