        {% capture name %}
          Sebastian Elpelt
        {% endcapture %}

        {% capture role %}
          Designer
        {% endcapture %}

        {% capture description %}
          Am Strom der Zeit: Junger Grafikdesigner mit langjähriger Erfahrung in Adobe Photoshop, 
          Illustrator und InDesign. Eine professionelle Arbeitsweise ist aufgrund der vielen Projekte 
          im und um den Coworkingspace selbstverständlich.
        {% endcapture %}

        {% include _member.html role=role name=name base_image="sebastian.jpg" profile_image="sebastian_profile.jpg" description=description %}

