<div class="section-title-number-mobile show-for-medium-down">
2.
</div>

<div class="section-title">
  <span>2.</span> Wir machen Internet 
</div>

<ul class="small-block-grid-2 large-block-grid-3"> 
  <li><img src="{{ site.url }}/assets/img/references/ref_business_model_innovation_site.jpg"/></li> 
  <li><img src="{{ site.url }}/assets/img/references/ref_canvanizer.jpg"/></li> 
  <li><img src="{{ site.url }}/assets/img/references/ref_coworking_site.jpg"/></li> 
  <li><img src="{{ site.url }}/assets/img/references/ref_xomo_digital_site.jpg"/></li> 
  <li><img src="{{ site.url }}/assets/img/references/ref_nipster_site.jpg"/></li> 
  <li><img src="{{ site.url }}/assets/img/references/ref_riga_2014.jpg"/></li> 
  <li><img src="{{ site.url }}/assets/img/references/ref_startup_weekend_site.jpg"/></li> 
  <li><img src="{{ site.url }}/assets/img/references/ref_thomas_plackner_site.jpg"/></li> 
  <li><img src="{{ site.url }}/assets/img/references/ref_vaetsch_site.jpg"/></li> 
</ul>