<div class="section-title-number-mobile show-for-medium-down">
1.
</div>

<div class="section-title">
  <span>1.</span> Wir sind die Webhippies 
</div>

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5"> 
  <li><img src="{{ site.url }}/assets/img/sebastian_profile.jpg"/><div class="foto-name">Sebastian</div></li> 
  <li><img src="{{ site.url }}/assets/img/jonas_profile.jpg"/><div class="foto-name">Jonas</div></li> 
  <li><img src="{{ site.url }}/assets/img/danyel_profile.jpg"/><div class="foto-name">Danyel</div></li> 
  <li><img src="{{ site.url }}/assets/img/armin_profile.jpg"/><div class="foto-name">Armin</div></li> 
  <li><img src="{{ site.url }}/assets/img/franka_profile.jpg"/><div class="foto-name">Franka</div></li> 
  <li><img src="{{ site.url }}/assets/img/thomas_profile.jpg"/><div class="foto-name">Thomas</div></li> 
  <li><img src="{{ site.url }}/assets/img/felix_profile.jpg"/><div class="foto-name">Felix</div></li> 
  <li><img src="{{ site.url }}/assets/img/michael_profile.jpg"/><div class="foto-name">Michael</div></li> 
  <li><img src="{{ site.url }}/assets/img/erik_profile.jpg"/><div class="foto-name">Erik</div></li> 
</ul>