<div class="section-title-number-mobile show-for-medium-down">
3.
</div>

<div class="section-title">
  <span>3.</span> Wir bloggen 
</div>

<div class="row collapse">
  <div class="small-12 large-push-6 large-6 columns">
    <ul>
      {% for post in site.posts limit:6 %}
        <li>
          <a href="{{ post.url }}"><span class="date">{{ post.date | date: "%d.%m.%Y" }} &bull;</span> {{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="/blog.html">...</a>
      </li>
    </ul>
  </div>
  <div class="small-12 large-pull-6 large-6 columns text-center">
    <i class="fa fa-code demonstrative-icon"></i>
    <div class="cta-link">  
      <a href="/blog.html">Zum Blog <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
</div>
