<div class="section-title-number-mobile show-for-medium-down">
2.
</div>

<div class="section-title">
  <span>2.</span> Wir machen Internet 
</div>

<ul class="small-block-grid-2 large-block-grid-3"> 
  <li><img src="http://webhippie.de/assets/references/ref_business_model_innovation_site-03e83d75bd50efb9dfc6121ba565023a.jpg"/></li> 
  <li><img src="http://webhippie.de/assets/references/ref_canvanizer-b2316e16a6b098dda9bedacf03efe2ac.jpg"/></li> 
  <li><img src="http://webhippie.de/assets/references/ref_coworking_site-a04577d540fd94cbaa648fdb2d64acee.jpg"/></li> 
  <li><img src="http://webhippie.de/assets/references/ref_xomo_digital_site-23c82694581b8b7123d37c465dc1030e.jpg"/></li> 
  <li><img src="http://webhippie.de/assets/references/ref_nipster_site-262bce1c31af7b26a3b44de87ad22fc3.jpg"/></li> 
  <li><img src="http://webhippie.de/assets/references/ref_riga_2014-2f45cd012dc21d08637308c5a7c1a6e2.jpg"/></li> 
  <li><img src="http://webhippie.de/assets/references/ref_startup_weekend_site-4f330a3080a4be1acd6df95f7d114696.jpg"/></li> 
  <li><img src="http://webhippie.de/assets/references/ref_thomas_plackner_site-54cda5bcfd34798bed8529ccf0dea334.jpg"/></li> 
  <li><img src="http://webhippie.de/assets/references/ref_vaetsch_site-b2de0a6d04cc9d11cfa91f054e86b3a5.jpg"/></li> 
</ul>