@use "sass:color";
@use "node_modules/bootstrap/scss/bootstrap";
@use "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@use "node_modules/@fortawesome/fontawesome-free/scss/solid";

@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./fonts/alegreya-sans-sc-latin-400-normal.woff') format('woff');
  }

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Alegreya Sans SC", "Helvetica", "sans-serif", "Arial";
    color: #222;
    cursor: default;
    font-size: 15px;
    background-color: #ffdc8a;
}

a,
a:link,
a:hover,
a:focus,
a:active {
    color: #222;
    text-decoration: none;
}

header {
    background-color: #f29b1b;
    padding: 60px 0;

    .logo {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;

        svg {
            path {
                fill: #222;
            }
        }
    }
}

.coffee {
    background-color: #ffdc8a;

    .left {
        font-size: 30px;
        line-height: 45px;
    }

    .demonstrative {
        color: #222;
        font-size: 200px;
    }
}

.generic {
    a,
    a:link,
    a:hover,
    a:focus,
    a:active {
        color: color.adjust(#222, $lightness: 25%);
    }
}

footer {
    padding: 60px 0;
    font-size: 20px;
    color: #F29B1B;
    background-color: #222;

    a,
    a:link,
    a:focus,
    a:active {
        color: color.adjust(#F29B1B, $lightness: 25%);
    }

    a:hover {
        color: color.adjust(color.adjust(#F29B1B, $lightness: 25%), $lightness: 10%);
    }
}
