{{ partial "header" . }}

<div class="container generic mt-5 mb-5">
	<div class="row">
		<div class="col-lg-12 text-justify">
			<h1 class="text-center">
				Seite nicht gefunden
			</h1>

			<p class="text-center">
				Die Seite die sie angefordert haben konnte leider nicht gefunden
				werden. Sollten sie das für einen Fehler halten würden wir uns über
				einen Pull Request auf
				<a href="https://github.com/webhippie/website">Github</a>
				sehr begrüssen.
			</p>
		</div>
	</div>
</div>

{{ partial "footer" . }}
