{{ partial "header.html" . }}

<div class="container coffee">
	<div class="row">
		<div class="col-lg-12 text-center h1 mt-5 mb-5">
			Lass uns Kaffee trinken!
		</div>
	</div>

	<div class="row mb-5">
		<div class="col-md-6 col-sm-12 text-center left">
			<p>
				<a href="mailto:mail@webhippie.de">
					mail@webhippie.de
				</a>
			</p>
			<p>
				Coworking Space<br />
				Josephsplatz 8<br />
				90403 Nürnberg
			</p>
		</div>

		<div class="col-md-6 d-none d-sm-none d-md-block text-center right">
			<i class="fa fa-coffee demonstrative"></i>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
