@mixin inderfont($size,$color: $page_background) {
	font-family: $page_font;
	font-size: $size;
	color: $color;
}

@mixin link-color($normalcolor, $hovercolor) {
	a
	{
		&:link, &:focus, &:active, &:visited { color: $normalcolor }
		&:hover { color: $hovercolor }
	}
}
