@import url(http://fonts.googleapis.com/css?family=Inder);

$page_font: 'Inder', Arial;
$page_color: rgb(0,0,0);
$page_background: rgb(255,100,0);
$link_color: invert($page_color);

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page: Home
:: Page: Impressum
:: Page: Blog
*/


/* -----------------------------------------
   Shared Styles
--------------------------------------------
:: Fundamentals
:: Header
:: Footer
:: Common Elements
*/

/* Fundamentals */

img
{
	width: 100%;
}

body
{
	background-color: $page_background;
}

html
{
	background-color: $page_background;
}

a, a:link, a:active, a:visited
{
	color: $link_color;
}

a:hover
{
	color: invert($link_color);
}

.featured
{
	margin: 40px 0px 40px 0px;
	h1
	{
		@include inderfont(35px,$page_color);
		padding: 0px;
	}
	.desc
	{
		@include inderfont(24px,$page_color);
		line-height: 30px;
		margin-bottom: 40px;
	}
	.descSmall
	{
		@include inderfont(18px,$page_color);
	}
	hr
	{
		border-color: $page_color;
		margin: 10px 0px 10px 0px;
		padding: 0px;
	}
}

.smallBullets
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	.columns
	{
		@include inderfont(18px,$page_color);
	}
	li
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	ul
	{
		margin-bottom: 0px;
		margin-top: 0px;
	}
}


/* Header */

.headerBar
{
	background-color: $page_color;
	padding: 50px 0px 45px 0px;
	#titleText
	{
		color: $page_background;
		@include inderfont(60px);	
		margin: 0px 0px 15px 0px;
		line-height: 40px;
		text-transform:uppercase;
		a
		{
			color: $page_background;
			&:link, &:visited, &:active, &:hover
			{
				color: $page_background;
			}
		}
	}

	h3
	{
		color: $page_background;
		@include inderfont(27px,rgb(255,233,175));
		margin: 0px;
		font-weight: normal;

		span 
		{
			margin: 0px 15px 0px 15px;
		}
	}
}

.whBlogButton
{
	z-index: 100000;
	position: absolute;
	
	top: 100px;
	right: 112px;

	@include prefixer(border-radius, 50%, spec);
	background-color: $page_background;
	border: 10px solid $page_color;
	width: 125px;
	height: 125px;
	
	text-align: center;
	line-height: 105px;
	vertical-align: middle;

	@include inderfont(25px,$page_color);
	font-weight: bold;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;

	&:link, &:visited, &:active
	{
		color: $page_color;
	}

	&:hover
	{
		color: $page_color;
		background-color: lighten($page_color, 30%);
	}
}

.whSmallBlogButton
{
	background-color: $page_color;
	padding: 12px 0px 10px 0px;
	text-align: center;
	margin-top: 10px;

	a
	{
		font-weight: bold;
		@include inderfont(20pxunder,$link_color);
	}
	a:hover
	{
		color: $page_background;
	}
}

/* Footer */

footer hr
{
	border-color: $page_color;
}

.whCopyRight
{
	color: $page_color;
}

/* Common Elements */

.under_construction
{
	margin-top: 20px;
	@include inderfont(18px, invert($page_color));
	@include panel($page_color, 20px);
	a
	{
		&:link, &:visited, &:active { color: $page_background }
		&:hover { color: invert($page_color) }
	}
	h2
	{
		font-size: 25px;	
	}
	p
	{
		margin-bottom: 10px;	
	}
}


/* -----------------------------------------
   Page: Home
--------------------------------------------
:: Members
:: 
:: 
*/


/* Members */

.members .panel
{
	margin-top: 0;
	margin-bottom: 0;
	background-color: $page_color;
	border: 0;

	h2
	{
		@include inderfont(16px);		
		padding: 0;
		margin: 0px 0px 8px 0px; 
	}
	h3
	{
		@include inderfont(12px);
		margin: 20px 0px 20px 0px;
	}
	p
	{
		@include inderfont(12px);
		font-weight: 700;
		margin-bottom: 0px;
	}
	a:hover
	{
		color: $page_background;
	}
}

.memberBox
{
	margin-bottom: 20px;
}

/* -----------------------------------------
   Page: Impressum
--------------------------------------------*/

.impressumContainer
{
	margin-top: 40px;
	color: $page_color;
	h1,h2,h3,h4,h5,h6
	{
		color: $page_color;
	}
}

/* -----------------------------------------
   Page: Blog
--------------------------------------------*/

.blogContent
{
	margin-top: 20px;
	@include inderfont(16px,$page_color);
	line-height: 14px;

	h1,h2,h3,h4,h5,h6 
	{	
		color: $page_color;
		font-family: $page_font;
	}
	h1 { font-size: 24px }
	h2 { font-size: 22px; font-style: italic }
	h3 { font-size: 20px }
	h4 { font-size: 18px; font-weight: bold; text-decoration: underline }
	h5 { font-size: 18px; text-decoration: underline }
	h6 { font-size: 18px; font-weight: bold }

}

.blogTitle
{
	background-color: #000;
	@include inderfont(22px,invert($page_color));
	margin: 20px 0px 20px 0px;
	padding: 10px;
}

.homeLink
{
	&:hover { color: $page_background; }
	@include inderfont(16px);
	font-weight: bold;
}

.postPanel
{
	margin-top: 40px;
	@include inderfont(18px, invert($page_color));
	a
	{
		&:link, &:visited, &:active { color: invert($page_color) }
		&:hover { color: $page_background }
	}
	
	.postTitle
	{
		background-color: $page_color;
		padding: 10px;
		@include inderfont(20px);
	}
	.postExcerpt
	{
		background-color: $page_color;
		padding: 20px;
		@include inderfont(15px,invert($page_color));
		line-height: 17px;
	}
	.postDate
	{
		background-color: $page_color;
		padding: 10px;
		@include inderfont(15px,invert($page_color));
		line-height: 20px;
		vertical-align: middle;
		text-align: center;
	}
	.postInfo
	{
		background-color: $page_color;
		padding: 10px;
		@include inderfont(15px,invert($page_color));
		span
		{
			color: darken(invert($page_color),50%);
		}
		a
		{
			margin: 0px 2px 0px 2px;
			&:link, &:visited, &:active
			{
				color: darken(invert($page_color),50%);
			}
			&:hover
			{
				color: $page_background;
			}		
		}
	}
	.columns
	{
		border: 1px solid $page_background;
	}
}




