////////////////////////
// Font Variables
////////////////////////

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

$font-size-giant: rem-calc(100px);
$font-size-large: rem-calc(35px);
$font-size-medium: rem-calc(20px);
$font-size-small: rem-calc(12px);