@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

body {
  font-family: "Alegreya Sans SC", "Helvetica", "sans-serif", "Arial";
  background-color: #d17a09;
  color: #222;
  cursor: default;
  font-size: 15px;
}

a,
a:link,
a:hover,
a:focus,
a:active {
  color: #222;
  text-decoration: none;
}

header {
  background-color: #f29b1b;
  padding: 60px 0;

  .logo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;

    svg {
      path {
        fill: #222;
      }
    }
  }

  .title {
    font-size: 100px;
  }

  .slogan {
    font-size: 35px;
  }
}

section {
  padding: 30px 0;

  &.contact {
    background-color: #ffdc8a;

    .title {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .demonstrative {
      color: #222;
      font-size: 200px;
    }

    .left {
      font-size: 30px;
      line-height: 45px;
    }
  }
}

footer {
  a,
  a:link,
  a:focus,
  a:active {
    color: lighten(#F29B1B, 25%);
  }

  a:hover {
    color: lighten(lighten(#F29B1B, 25%), 10%);
  }

  padding: 60px 0;
  font-size: 20px;
  color: #F29B1B;
  background-color: #222;
}

@media (min-width: 992px) {
  section {
    &.contact {
      .left {
        padding-left: 70px;
      }

      .right {
        padding-right: 70px;
        border-left: 3px solid #222;
      }
    }
  }
}