<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width" />
    
  	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

    <meta name="description" content="{{site.description}}" />
    <meta name="author" content="{{site.author}}" />    

  	{% stylesheet app %}
  </head>
  <body>
  	<div class="headerBar">
  		<div class="row">
  			<div class="small-12 large-9 columns">
  				<div id="titleText"><a href="/">{{site.name}}</a></div>
  			</div>
  		</div>
      
  		<div class="row">
  			<div class="small-12 large-9 columns">
  				<h3 id="subtitleText">FREE&emsp;|&emsp;INDYPENDENT&emsp;|&emsp;INNOVATIV&emsp;|&emsp;SUPERCOOL</h3>
  			</div>
  		</div>
  		<a href="/blog.html" class="hide-for-small whBlogButton right">BLOG</a>
  	</div>

  	<div class="whSmallBlogButton show-for-small">
  		<a href="/blog.html">BLOG</a>
  	</div>

    {% include under_construction.html %}

    {{ content }}

{% include footer.html %}

    {% javascript app %}

  </body>
</html>
