<!doctype html>
<html class="no-js">
  <head>
    <title>{{ page.title }} - {{ site.name }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.title }} - {{ site.name }}" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content=" - {{ site.name }}"/>
    <meta property="og:url" content=" - {{ site.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
  
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/css/app.css" />
    <link rel="stylesheet" href="{{ site.url }}/css/pygments.css" />
    <link rel="shortcut icon" href="favicon.ico">

    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>

    {% include header.html %}
    <div class="row">
      <div class="small-12 spaced-top spaced-bottom columns">
        <div class="site-title">
          Blog
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="blog-post">
          <h1>{{ page.title }}</h1>
          <div class="post-info">
            {{ page.date | date: "%d.%m.%Y" }} / {{ page.author }}
          </div>
          <div class="post-content spaced-top spaced-bottom">
            {{ content }}
          </div>      
          <div class="post-tags">
            <span class="tags-label">Tags:</span>
            <div class="tags-list">
              {% for tag in page.tags %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>&nbsp;/ 
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    

    {% include footer.html %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.url }}/bower_components/jquery/jquery.js"><\/script>')</script>
    <script src="{{ site.url }}/js/plugins.js"></script>
    <script src="{{ site.url }}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{ site.url }}/js/jquery.fittext.js"></script>
    <script src="{{ site.url }}/js/app.js"></script>
  </body>
</html>